@font-face {
    font-family: 'Robotic';
    src: url('./zero\ hour.otf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: 	#aaaaaa;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

h1, 
h2 {
    font-family: 'Robotic';
    margin: 0;
}

h1 {
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    text-align: center;
}

.content-box {
    height: 85%;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 1fr;
    column-gap: 5px;
}

.missions-bar,
.objectives-bar {
    display: grid;
    grid-template-rows: 7% 1fr;
    grid-template-columns: 1fr;
    border-radius: 10px;
    overflow: hidden;
    row-gap: 10px;
}

.missions-box,
.objectives-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 40px);
    grid-auto-flow: row;
    text-align: center;
    align-items: center;
    font-family: 'Robotic';
    font-size: 20px;
}

.missions-box > div {
    cursor: pointer;
}

h2 {
    background-color: #32527b;
    color: whitesmoke;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}
