* {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
    min-height: 100vh;
}

.questline-wrapper {
    height: calc(100vh - 40px);
    display: grid;
    grid-template-rows: 40px 2fr;
    text-align: center;
    align-items: center;
    padding: 15px;
    background-color: 	#3c5c68;
    border: 5px solid #95abad;
    align-items: center;
}

.questline-wrapper > :first-child {
    grid-area: 1;
    margin-bottom: 40px;
    font-size: 30px;
    letter-spacing: 2px;
}

.content-box {
    grid-area: 2;
    display: grid;
    grid-template-rows: 1fr 300px;
    grid-template-columns: 400px 1fr;
    column-gap: 5px;
    row-gap: 5px;
    height: 100%;
    padding: 10px;
}

.quest-box > :first-child,
.objective-box > :first-child {
    font-size: 30px;
    text-decoration: underline;
}

.quest-box,
.objective-box,
.log-terminal {
    display: grid;
    text-align: center;
    align-items: center;
    grid-auto-flow: row;
    border: 2px solid #95abad;
}

.quest-box {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-template-rows: repeat(2,60px) 1fr;
}

.quest-box > button,
.quest-button {
    background-color: #3c5c68;
    font-size: 20px;
    padding: 10px;
    border: none;
    box-shadow: 0px 2px #95abad;
}

.quest-buttons-wrapper {
    grid-area: 3;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,50px);
    grid-auto-flow: row;
    row-gap: 5px;
}

.objective-box {
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
}

.objectives-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 70px repeat(5,1fr);
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.log-terminal {
    grid-area: 2/2;
    padding: 5px;
}

.log-terminal > form > fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #95abad;
}

legend {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

input,
textarea,
select{
    width: 300px;
    resize: none;
    background-color: transparent;
    border: 1px solid #95abad;
    padding: 5px;
    text-align: center;
    letter-spacing: 1px;
}

option {
    background-color: #304a53;
}

#submit-quest {
    padding: 5px;
    background-color: rgb(2, 161, 2);
    border: 2px solid #d5edf0;
    font-size: 15px;
    letter-spacing: 1px;
}

.quest-box > button:hover,
.quest-button:hover {
    background-color: #304a53;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

#submit-quest:hover {
    background-color: rgb(3, 134, 3);
    font-weight: bold;
}